services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Wazum\PageDeletionGuard\:
    resource: '../Classes/*'

  Wazum\PageDeletionGuard\Service\BackendUserProviderInterface:
    alias: Wazum\PageDeletionGuard\Service\BackendUserProvider

  Wazum\PageDeletionGuard\Service\QueryRestrictionFactoryInterface:
    alias: Wazum\PageDeletionGuard\Service\QueryRestrictionFactory

  Wazum\PageDeletionGuard\Service\SettingsFactory:
    public: true

  Wazum\PageDeletionGuard\Hook\PageDeletionGuardHook:
    public: true

  Wazum\PageDeletionGuard\Controller\ChildPageCheckController:
    public: true

  Wazum\PageDeletionGuard\EventListener\BackendAssets:
    tags:
      - name: event.listener
        identifier: 'page-deletion-guard/backend-assets'
        event: TYPO3\CMS\Backend\Controller\Event\AfterBackendPageRenderEvent
